@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins-SemiBold.ttf);
}

h1 {
    font-family: Poppins-Bold;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins-Regular', sans-serif;
    background-color: #F4F6FA;
}

.fullGameMargin {
    margin-left: 20px;
    margin-right: 20px;
}

.header {
    width: 100%;
    height: 15vh;
    background-color: #F4F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2em;
    font-family: Poppins-Bold;
}
.footer {
    width: 100%;
    height: 20vh;
    background-color: #F4F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2em;
    font-family: Poppins-Bold;
}
.content {
    z-index: 0;
    width: 100%;
    height: 50vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-header {
    background-color: #F4F6FA;
    width: 100%;
}
.instructions-back {
    height:30vh;
}
.instructions-header {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Regular';
    font-size: 30px;
}
h4 {
    font-family: 'Poppins-Regular';
    font-size: 13px;
}
.highlight {
    font-family: 'Poppins-Bold';
    color:#FF9417;
}
.instructions-content {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'Poppins-Regular';
    font-size: 30px;
    text-align: center;
}
.shape {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: inherit;
}
.encoding-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 70vh;
    align-items: center;
    background-color: #F4F6FA;
}
.word {
    width: 40%;
    height: 5%;
    text-align: center;
    vertical-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    font-family: 'Poppins-Regular';
    padding-top: 5%;
    padding-bottom: 5%;
}
.word-left {
    order: 1;
}
.word-right {
    order: 2;
}
.timer {
    color: #FF9417;
}
.attentionButton {
    z-index: inherit;
    border: none;
    background-color: #F4F6FA;
    display: flex;
    padding: 20px 71px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--primary-blue, #5A89F5);
    font-family: 'Poppins-Regular';
    font-size: 20px;
    margin: 5px;
    color: #5A89F5;
}
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.visuoButton {
    width: 45%;
    margin: 2.5%;
    z-index: inherit;
}
.level-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.listCont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 15%;
}
.listContLast {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 15%;
}
  
.listCont::before {
    content: "";
    position: absolute;
    top: 72%;
    left: 12.5px; 
    border: 1px dashed var(--grey-300, #D1D5DA);
    height: 85px;
}

.levels {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #5A89F5;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}
.levels-curr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F4F6FA;
    color: #5A89F5;
    border: 1px solid #5A89F5;
    stroke-width: 1pxd;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
}
.levels-incomp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #F4F6FA;
    color: black;
    border: 1px solid black;
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
    opacity: 40%;
}
.level-name {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    font-family: 'Poppins-Regular';
    padding-top: 5%;
    padding-bottom: 5%;
    color: #24292E;
    font-size: 25px;
}
.level-name-curr {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins-Regular';
    border: 1px solid #5A89F5;
    padding-top: 5%;
    padding-bottom: 5%;
    stroke: #5A89F5;
    stroke-width: 1px;
    color: #24292E;
    font-size: 25px;
}
.level-name-incomp {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
    font-family: 'Poppins-Regular';
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 40%;
}
.buttonNext {
    border: none;
    background-color: #5A89F5;
    border-radius: 100px;
    font-family: 'Poppins-Regular';
    bottom: 0;
    left:0;
    width:100%;
    display: flex;
    width: 350px;
    height: 48px;
    padding: 10.5px 116px;
    gap: 10px;
    color: #F4F6FA;
    font-size: 18px;
    text-align: center;
}

.buttonSmall {
    display: flex;
    padding: 10.5px 116.5px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 100px;
    border: 1px solid var(--primary-blue, #5A89F5);
    color: #5A89F5;
    font-size: 18px;
    font-family: 'Poppins-Regular';
}

.buttonSmallClicked {
    display: flex;
    padding: 10.5px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 100px;
    background: var(--primary-blue, #5A89F5);
    color: #F4F6FA;
    font-size: 18px;
    font-family: 'Poppins-Regular';
}

.buttonSecondary {
    border: none;
    border: 1px solid #5A89F5;
    background-color: #F4F6FA;
    border-radius: 100px;
    font-family: 'Poppins-Regular';
    bottom: 0;
    left:0;
    width:100%;
    display: flex;
    width: 350px;
    height: 48px;
    padding: 10.5px 116px;
    gap: 10px;
    color: #5A89F5;
    font-size: 18px;
}

.buttonNextModal {
    border: none;
    background-color: #5A89F5;
    border-radius: 100px;
    font-family: 'Poppins-Regular';
    bottom: 0;
    left:0;
    width:100%;
    display: flex;
    width: 295px;
    height: 48px;
    padding: 10.5px 90px;
    gap: 10px;
    color: #F4F6FA;
    font-size: 18px;
}

.buttonCont {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}
.correct {
    font-family: 'Poppins-Bold';
    font-size: 25px;
    margin-bottom: 5%;
}
.wrong {
    font-family: 'Poppins-Bold';
    font-size: 25px;
}
.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.textField {
    width: 90%;
    height: 5%;
    font-family: 'Poppins-Regular';
}
.button-container {
    flex: 1;
    justify-content: 'flex-end';
    margin-bottom: 36;
}
.intro {
    background-color: #F4F6FA;
    height:100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin:auto;
    -webkit-animation: fadeinout 2.8s linear forwards;
    animation: fadeinout 2.8s linear forwards;
}
.intro-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  30% { opacity: 1; }
  60% {opacity: 1;}
}
@keyframes fadeinout {
  0%,100% { opacity: 0; }
  30% { opacity: 1; }
  60% {opacity: 1;}
}
.response {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.tutorialHeader {
    font-size: 15px;
}
.highlighted {
    animation: highlightedEffect 2s linear infinite;
}
@keyframes highlightedEffect {
    0% {
        background-color: #F4F6FA;
    }
    10% {
        background-color: #FF9417;
    }
    90% {
        background-color: #FF9417;
    }
    100% {
        background-color: #F4F6FA;
    }
}
.tutorialCover {
    position: absolute;
    z-index: 500;
    background-color: black;
    animation: opacityEffect 1.5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
}
.tutorialCoverNoFade {
    position: absolute;
    z-index: 500;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}
@keyframes opacityEffect {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}
.tutorialImgs {
    position: absolute;
    z-index: inherit;
    animation: opacityEffect 1.5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    width: 100%;
    height: 100%;
    max-width: 450px;
    min-width: 440px;
}
.content-highlight {
    z-index: 1004;
    background-color: white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30%;
    margin-left: 5%;
    margin-top: 24.5%;
    border-radius: 15px;
}
.content-unhighlight {
    z-index: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
}
.button-highlight {
    z-index: 1000;
    border-radius: 40px;
}
.button-unhighlight {
    z-index: 0;
    border-radius: 40px;
}
.tutorialDis {
    display: none;
}
.noHighlightText {
    position: absolute;
    z-index: 1000;
}
.yesHighlightText {
    position: absolute;
    z-index: 1000;
}
/* Display Score */
tr {
    background-color: white;
    padding: 30px;
    margin: 30px;
}
table {
    height: 100%;
}
input:focus {
    outline-width: 0;
}
/* Visuo Tutorial */
.vis-main-shape {
    z-index: 1002;
    background-color: #F4F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    border-radius: 15px;
    text-align:'center';
    margin:'10px';
}
.vis-main-shape2 {
    z-index: 0;
    background-color: #F4F6FA;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    border-radius: 15px;
    text-align:'center';
    margin:'10px';
}
.vis-button-container {
    z-index: 1002;
    background-color: #F4F6FA;
}
.tut-intro-fade {
    animation: opacityEffect 1.5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.vertical {
    border-left: 6px dotted black;
}